<footer>
  <section class="col">
    <ul class="contact" id="contact">
      <li><i class="material-icons">email</i><a href="mailto:contact@averital.com">contact@averital.com</a></li>
      <li><i class="material-icons">phone</i><a href="tel:717-599-9952">717-599-9952 </a></li>
      <li><i class="material-icons">web</i><a href="http://www.averital.com">www.averital.com</a></li>
    </ul>
    <ul class="contact">
      <li><i class="social-icons"><img src="img/twitter_logo.svg"></i>twitter</li>
      <li><i class="social-icons"><img src="img/in_logo.svg"></i>linkedin</li>
    </ul>
  </section>
  <small>&copy; 2018 Averital Consulting</small>
</footer>